@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
.navbar{
    width:100vw;
    height:5vh;
    background-color: rgb(96, 16, 131);
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:15px;
    padding-right: 15px;

}
.sign{
    font-size:25px;
    font-weight: 700;
    color:white;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.track{
    font-family: "Fredericka the Great", serif;
  font-weight: 600;
  font-style: normal;
color: white;
font-size: 16px;
}
.op{
color:rgb(195, 145, 241);
font-size:28px;
font-weight: 700;
font-style: oblique;
}
.line{
color:white;
font-size:20px;
font-weight: 600;
}
@media (max-width:460px){
    .line{
      font-size:12px;
        } 
}